# Tutorial 9: Global model

Working with panel data (multiple time series).

NeuralProphet allows to model local and global components.

We are using the ERCOT dataset which contains data for multiple regions.

In [1]:
import pandas as pd
data_location = "https://raw.githubusercontent.com/ourownstory/neuralprophet-data/main/datasets/"
df_ercot = pd.read_csv(data_location + "multivariate/load_ercot_regions.csv")
df_ercot.head()

,ds,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST
0,2004-01-01 01:00:00,7225.09,877.79,1044.89,745.79,7124.21,1660.45,3639.12,654.61
1,2004-01-01 02:00:00,6994.25,850.75,1032.04,721.34,6854.58,1603.52,3495.16,639.88
2,2004-01-01 03:00:00,6717.42,831.63,1021.10,699.70,6639.48,1527.99,3322.70,623.42
3,2004-01-01 04:00:00,6554.27,823.56,1015.41,691.84,6492.39,1473.89,3201.72,613.49
4,2004-01-01 05:00:00,6511.19,823.38,1009.74,686.76,6452.26,1462.76,3163.74,613.32

In [2]:
regions = list(df_ercot)[1:]
regions

['COAST',
 'EAST',
 'FAR_WEST',
 'NORTH',
 'NORTH_C',
 'SOUTHERN',
 'SOUTH_C',
 'WEST']

In [3]:
df_global = pd.DataFrame()
for col in regions:
    aux = df_ercot[["ds", col]].copy(deep=True)  # select column associated with region
    aux = aux.iloc[:26301, :].copy(deep=True)  # selects data up to 26301 row (2004 to 2007 time stamps)
    aux = aux.rename(columns={col: "y"})  # rename column of data to 'y' which is compatible with Neural Prophet
    aux["ID"] = col
    df_global = pd.concat((df_global, aux))
df_global

                        ds        y     ID
0      2004-01-01 01:00:00  7225.09  COAST
1      2004-01-01 02:00:00  6994.25  COAST
2      2004-01-01 03:00:00  6717.42  COAST
3      2004-01-01 04:00:00  6554.27  COAST
4      2004-01-01 05:00:00  6511.19  COAST
...                    ...      ...    ...
26296  2006-12-31 20:00:00   817.88   WEST
26297  2006-12-31 21:00:00   875.25   WEST
26298  2006-12-31 22:00:00   976.14   WEST
26299  2006-12-31 23:00:00   971.85   WEST
26300  2007-01-01 00:00:00   955.29   WEST

[210408 rows x 3 columns]